
#footer{
    
    background-color: rgba(249, 250, 251, 1);
    margin-top: 0;
    padding: 60px 40px 80px;
    display: flex;
    justify-content: center;
}

.footer-container{
    width: 1200px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo-box{
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-logo-text{
    color: rgba(51, 61, 75, 1);

    font-family: 'GimhaeGaya';
    font-size: 20px;
    font-weight: 400px;
    line-height: 140%;
    letter-spacing: -0.4px;
}

.footer-logo{
    display: flex;
    gap: 10px;
}

.footer-link-box{
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer-email-link{
    color: rgba(107, 118, 132, 1);

    font-family: 'Inter';
    font-size: 12px;
    font-weight: 400;
}

.footer-bottom{
    
}

.footer-copyright{
    color: rgba(107, 118, 132, 1);

    font-family: 'Inter';
    font-size: 12px;
    font-weight: 400;
}